extends layout

block content
    header.cover
        div
            div.cover__image
            div.cover__background
            h1.cover__title 
                include ../public/images/about/title.svg

    main.container#question-container
        div.main-text-title
            h3 DATA-LIFE
        
        div.main-text
            p Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics. Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics.

        div.credits
            div.logo
                a(href="https://www.nyu.edu/")
                    img(src='../images/home/nyu.png' class='nyu-img')
            
            div.people 
                div.person
                    div.photo
                        img(src='../images/about/rachel.png')
                    div.text
                        p.name Rachel Provost
                        p.role Role
                        p.description Rachel is a Master’s student in Applied Urban Science and Informatics at New York University’s Center for Urban Science and Progress (NYU CUSP). In the project, she was involved in survey distribution and analysis and data visualization. 
            
                div.person
                    div.photo
                        img(src='../images/about/lina.jpg')
                    div.text
                        p.name Lina Kasem
                        p.role Role
                        p.description Lina is a Master's student in Applied Urban Science and Informatics at New York University's Center for Urban Science and Progress (NYU CUSP). In the 'Data-Life 2021' project, she was involved in question research and analysis.
            
                div.person
                    div.photo
                        img(src='../images/about/yichen.jpg')
                    div.text
                        p.name Yichen Li
                        p.role Role
                        p.description Yichen is a master student in Applied Urban Science and Informatics program at New York University’s Center for Urban Science and Progress (NYU CUSP). She has graduated from the University of Liverpool, majoring in Urban Planning and Design. In the 'Data-life 2021' project, she discussed and analyzed the research questions with the group.

        div.credits
            div.logo
                a(href="https://www.polimi.it/")
                    img(src='../images/home/polimi.png' class='polimi-img')
            
            div.people
                div.person
                    div.photo
                        img(src='../images/about/davide.jpg')
                    div.text
                        p.name Davide Calabrò
                        p.role Role
                        p.description Davide is a master's student in Computer Science & Engineering at the Politecnico di Milano. In the 'Data-Life 2021' project, he was involved in the collection and analysis of data as well as the development of the report website.
            
                div.person
                    div.photo
                        img(src='../images/about/img_avatar.png')
                    div.text
                        p.name Stefano Fedeli
                        p.role Role
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl tincidunt etiam quis imperdiet. Sit sed amet, quis sed augue mattis ac ultrices. Ut ipsum proin nibh et. Quam turpis nisi massa eget.
            
                div.person
                    div.photo
                        img(src='../images/about/img_avatar.png')
                    div.text
                        p.name Marco Valli
                        p.role Role
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl tincidunt etiam quis imperdiet. Sit sed amet, quis sed augue mattis ac ultrices. Ut ipsum proin nibh et. Quam turpis nisi massa eget.

        hr.divider

    include footer 