extends layout

block content
    header.cover
        div
            div.cover__image
            div.cover__background
            h1.cover__title 
                include ../public/images/about/title.svg

    main.container#question-container
        div.main-text-title
            h3 DATA-LIFE
        
        div.main-text
            p Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics. Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics.

        div.credits
            div.logo
                a(href="https://www.nyu.edu/")
                    img(src='../images/home/nyu.png' class='nyu-img')
            
            div.people 
                div.person
                    div.photo
                        img(src='../images/about/img_avatar.png')
                    div.text
                        p.name Rachel Provost
                        p.role Role
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl tincidunt etiam quis imperdiet. Sit sed amet, quis sed augue mattis ac ultrices. Ut ipsum proin nibh et. Quam turpis nisi massa eget.
            
                div.person
                    div.photo
                        img(src='../images/about/img_avatar.png')
                    div.text
                        p.name Lina Kasem
                        p.role Role
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl tincidunt etiam quis imperdiet. Sit sed amet, quis sed augue mattis ac ultrices. Ut ipsum proin nibh et. Quam turpis nisi massa eget.
            
                div.person
                    div.photo
                        img(src='../images/about/img_avatar.png')
                    div.text
                        p.name Yichen Li
                        p.role Role
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl tincidunt etiam quis imperdiet. Sit sed amet, quis sed augue mattis ac ultrices. Ut ipsum proin nibh et. Quam turpis nisi massa eget.

        div.credits
            div.logo
                a(href="https://www.polimi.it/")
                    img(src='../images/home/polimi.png' class='polimi-img')
            
            div.people
                div.person
                    div.photo
                        img(src='../images/about/img_avatar.png')
                    div.text
                        p.name Davide Calabrò
                        p.role Role
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl tincidunt etiam quis imperdiet. Sit sed amet, quis sed augue mattis ac ultrices. Ut ipsum proin nibh et. Quam turpis nisi massa eget.
            
                div.person
                    div.photo
                        img(src='../images/about/img_avatar.png')
                    div.text
                        p.name Stefano Valli
                        p.role Role
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl tincidunt etiam quis imperdiet. Sit sed amet, quis sed augue mattis ac ultrices. Ut ipsum proin nibh et. Quam turpis nisi massa eget.
            
                div.person
                    div.photo
                        img(src='../images/about/img_avatar.png')
                    div.text
                        p.name Marco Valli
                        p.role Role
                        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl tincidunt etiam quis imperdiet. Sit sed amet, quis sed augue mattis ac ultrices. Ut ipsum proin nibh et. Quam turpis nisi massa eget.

        hr.divider

    include footer 