extends layout

block content 
    header.cover
        div
            div.cover__image
            div.cover__background
            h1.cover__title 
                include ../public/images/data-collection/title.svg

    main.container#question-container

        div.main-text-title#scraping
            h3 Social media scraping
        
        div.main-text
            p We analyzed the possible data sources related to social media and decided to focus on Instagram and Twitter. Instagram is, in fact, the most common social media used in Italy, specifically in Milan, and Twitter is the most common social media used in New York by young people. We avoided TikTok and Facebook despite their popularity amongst the younger generation due to their scrapers’ limitations..<br><br>We started by choosing the entry point of both social networks: hashtags and geolocation. The decision was to use a list of predefined hashtags to collect the majority of online conversations about blood donation. To constrain the geographical location of the data, we relied on the Geolocation and special keywords of posts and tweets.

        div.main-text-title#survey
            h3 Survey
        
        div.main-text
            p Since social media cannot provide definitive data regarding whether an individual has donated blood, we distributed a survey to students at New York University and Politecnico di Milano to gather additional information. We asked survey respondents about their social media use, knowledge of blood donation opportunities, likelihood of donating blood during an emergency, and social-ethical interests to explore the relationships between these variables.

        div.main-text-title#interviews
            h3 Interviews
        
        div.main-text
            p Interviews were conducted to further understand survey respondents' knowledge of and motivators to blood donation. Qualitative information from these surveys was helpful in constructing data-driven persons and providing engagement strategies.

        hr.divider

    include footer