main.container.footer 
    div.footer__container
        div.footer__item
            h5 Students
            p Rachel Provost 
            p Lina Kasem
            p Yichen Li
            h5 Professors 
            p Stanislav Sobolevsky 
            p Victoria Alsina

        div.footer__item

        div.footer__item
            h5 Students
            p Davide Calabrò
            p Stefano Fedeli
            p Marco Valli

            h5 Professors 
            p Paola Bertola
            p Marco Brambilla
            p Stefano Ceri
            p Michele Mauri

        div.footer__item

        div.footer__item
            h5 Delcon Expert
            p Fabio Scagliola
    
    div.footer__container
        div.footer__item
            img(src='../images/home/nyu.png')
        div.footer__item
        div.footer__item
            img(src='../images/home/polimi.png')
        div.footer__item
        div.footer__item
            img(src='../images/home/delcon.png')