nav.navbar.navbar-expand-lg.navbar-dark
    button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto.nav-fill.w-100
            li.nav-item
                a(href='./' class='nav-link') Home
                    span.sr-only (current)
            li.nav-item
                a(href='./problem-statement' class='nav-link') Problem statement
            li.nav-item.dropdown
                a(href='./data-collection' class='nav-link') Data collection
            li.nav-item.dropdown
                a(class='nav-link dropdown-toggle' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Research questions
                div(class='dropdown-menu' aria-labelledby='navbarDropdown')
                    a(class='dropdown-item' href='./question-1') Question 1
                    a(class='dropdown-item' href='./question-2') Question 2
                    a(class='dropdown-item' href='./question-3') Question 3
                    a(class='dropdown-item' href='./question-4') Question 4
            li.nav-item
                a(href='./outcomes' class='nav-link') Outcomes            
            li.nav-item
                a(href='./about' class='nav-link') About