extends layout

block content
  header.cover
    div
      div.cover__image
      div.cover__background
      h1.cover__title Data-Life 2021 
      p.cover__subtitle Understanding the recruitment and loyalty of young blood donors through the analysis of social media engagement strategies