extends layout 

block content
    header.cover
        div
            div.cover__image
            div.cover__background
            h1.cover__title 
                include ../public/images/outcomes/title.svg

    main.container#question-container
        div.main-text-title
            h3 Outcomes
            
        div.main-text
            p Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics. Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics.

        div.main-text-title
            h3 Social Media suggestions
            
        div.main-text
            p Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics. Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics.

        div.main-text-title
            h3 Personas
            
        div.main-text
            p Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics. Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics.

            div.appendix#personasUSA
                div.appendix-title
                    p Personas
                    p.bold USA
                    p
                        img(src='../../images/icons/up-arrow.svg' class='hidden arrow-up')
                        img(src='../../images/icons/down-arrow.svg' class='arrow-down')

                div.appendix-body.hidden

                    div.chart-svg
                        include ../public/images/outcomes/USA1.svg

                    div.chart-svg
                        include ../public/images/outcomes/USA2.svg


            div.appendix#personasITA
                div.appendix-title
                    p Personas
                    p.bold ITA
                    p
                        img(src='../../images/icons/up-arrow.svg' class='hidden arrow-up')
                        img(src='../../images/icons/down-arrow.svg' class='arrow-down')

                div.appendix-body.hidden

                    div.chart-svg
                        include ../public/images/outcomes/ITA1.svg

                    div.chart-svg
                        include ../public/images/outcomes/ITA2.svg
        div.main-text-title
            h3 Influencer tool
            
        div.main-text
            p Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics. Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics.

        hr.divider

    include footer