extends layout 

block content
    header.cover
        div
            div.cover__image
            div.cover__background
            h1.cover__title 
                include ../public/images/outcomes/title.svg

    main.container#question-container
        div.main-text-title#suggestions
            h3 Social Media suggestions
            
        div.main-text
            p Our findings provide valuable insights for how to use social media as a strategy to recruit new donors and encourage existing donors to continue donating. 

            h5 Where to post?

            p Analysis of emergencies as a tactic to recruit donors on social media showed posts that include terms like ‘Blood Shortage’ and during times of emergencies, such as COVID-19, generate more engagement and posts. Therefore, these times may be ideal for posts related to blood donation since the public may be more likely to be motivated to donate blood during this time. Posting on important days related to the topic, such as National Blood day, could also create more interest in this conversation on social media, resulting in more donations.

            div.chart-svg#time
                include ../public/images/outcomes/time.svg

            h5 Who (organizations/individuals) should post and why?

            p The behavior of blood donation organizations on social media showed that engagement is related to the magnitude of their following on a particular platform. Survey results also indicated less than 20 percent of respondents follow the blood donation organizations in their area. Therefore, targeted efforts to increase the number of blood donation organization followers on social media platforms could increase the visibility of these institutions and generate more engagement which in turn, may result in recruiting more donors.<br><br>Assessing survey results related to the barriers of blood donation revealed that young people may not be aware of opportunities due to their limited interaction with blood donation organizations or active donors. Blood donation organizations can ask donors to share their experience on social media to promote the cause amongst their network so that more young people become aware of opportunities through individuals and institutions they trust.<br><br>Social media influencers could be leveraged as ambassadors to remind and encourage more young people to donate blood, see the influencer tool below for more information on how to designate a ‘good’ candidate for a blood donation influencer. Analysis of the most engaging posts on Instagram and survey results show that individual accounts may be best suited to promote blood donation in Italy whereas individual accounts are better for the United States. In both locations, political accounts should be avoided as influencers since they tend to spread negative information and shift the conversation away from blood donation.

            div.chart-svg#influencers
                include ../public/images/outcomes/influencers.svg

            h5 What to post?

            p Qualitative analysis of active members in the blood donation conversation online and analysis of survey results showed a relationship between donors and social-ethical causes. Therefore, posts related to social-ethical topics could be helpful content to target potential donors.

            div.chart-svg
                img(src="images/outcomes/what.png")

        div.main-text-title#personas
            h3 Personas
            
        div.main-text
            p We developed four personas to represent a potential donor and donor in both locations based on our survey results and interviews with individuals. While there isn’t much difference between the potential donors and typical donors, these personas could be helpful to those interested in learning more about the young people’s social media use and feeling towards blood donation in efforts to create social media engagement strategies.

            div.appendix#personasUSA
                div.appendix-title
                    p Personas
                    p.bold USA
                    p
                        img(src='../../images/icons/up-arrow.svg' class='hidden arrow-up')
                        img(src='../../images/icons/down-arrow.svg' class='arrow-down')

                div.appendix-body.hidden

                    div.chart-svg
                        img(src="images/outcomes/USA1.png")

                    div.chart-svg
                        img(src="images/outcomes/USA2.png")


            div.appendix#personasITA
                div.appendix-title
                    p Personas
                    p.bold ITA
                    p
                        img(src='../../images/icons/up-arrow.svg' class='hidden arrow-up')
                        img(src='../../images/icons/down-arrow.svg' class='arrow-down')

                div.appendix-body.hidden

                    div.chart-svg
                        img(src="images/outcomes/ITA1.png")

                    div.chart-svg
                        img(src="images/outcomes/ITA2.png")
            
            p During interviews we found out spontaneosly the reason why people interrupted blood donation and why did they choose to begin again or what could help them to restart

            p <b>Reasons why you gave up donating blood (or became discontinuous)</b>
                ul
                    li Moving to a new city because of studies
                    li Incompatibility donations with university
                    li Incompatibility donations with work (even if you have the day is not seen well)
                    li I dropped below 50kg

            p <b>For what reasons have you started to donate again</b>
                ul
                    li With the covid, I came back home and started to donate with my mother.
                    li Together with some friends we got organized and went together
                    li I felt the desire to do my part during the pandemic and to return to donate
                    li To get my blood analysis done and check myself

            p <b>What would it take for you to start donating again</b>
                ul
                    li Facilitate booking
                    li Donations with mobile units
                    li Incentives (discounts, rewards, or other)
                    li Being able to donate outside of my cityReasons why you gave up donating blood (or became discontinuous)
                    li Moving to a new city because of studies
                    li Incompatibility donations with university
                    li Incompatibility donations with work (even if you have the day is not seen well)
                    li I dropped below 50kg

        div.main-text-title#tool
            h3 Influencer tool
            
        div.main-text
            p Our influencer tool can be used to determine whether or not a social media account is a good candidate for being a blood donation influencer based on the following attributes: number of followers, number of posts, average likes, average video views and whether or not they are a politician.

            div.chart-svg
                a(href='download/report.pdf' download="technical_report.pdf")
                    img(src='images/outcomes/report.png')

        hr.divider

    include footer