extends layout 

block content
    header.cover
        div
            div.cover__image
            div.cover__background
            h1.cover__title 
                include ../public/images/outcomes/title.svg

    div.main-text-title
        h3 Outcomes
        
    div.main-text
        p Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics. Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics.

    div.main-text-title
        h3 Social Media suggestions
        
    div.main-text
        p Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics. Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics.

    div.main-text-title
        h3 Personas
        
    div.main-text
        p Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics. Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics.

    

    hr.divider

    include footer