extends layout

block content
    header.cover
        div
            div.cover__image
            div.cover__background
            h1.cover__title Problem statement
    
    main.container
        div.intro
            p Unless encouraged by their surroundings, young people are not motivated to donate blood. According to Lawrence (2021), almost 60% of donors are older than 40, and nearly 45% of donors are older than 50. Since they could be valuable contributors to the blood donor pool over their lifetime, we want to understand how young people find out about blood donation opportunities and what drives them to participate. Understanding what drives young people to donate blood and the communities that exist around blood donation is crucial in sustaining a sufficient blood supply. What are the successful engagement strategies to recruit young blood donors using social media?<br>Using social media analysis and survey data to compare two cities, NYC and Milan, we hope to identify successful online engagement strategies. The hypotheses below, informed by our literature review and interviews with industry experts, will guide our analysis in understanding the motivators of blood donation amongst young people and the blood donation community.<br><b>Hypothesis 1:</b> Young people are more likely to donate blood during an emergency.<br><b>Hypothesis 2:</b> Since social media provides an opportunity to reach a larger audience, the influence of blood donation organizations' on these platforms is a mutual predictor of donor recruitment in Milan and New York City.<br><b>Hypothesis 3:</b> Young people lack access to accurate information regarding blood donation.<br><b>Hypothesis 4:</b> Young people active in blood donation related content on social media platforms are also involved in other social-ethical groups online such as animal activism, environmentalism, social justice,etc.

        div.chart-svg
            include ../public/images/problem-statement/blood-shortage-chart.svg
        
        div.intro
            p There are multiple layers to our research that focuses on blood shortage, social media, recruitment, and data analysis techniques. Blood shortage is a global issue that continues to be a key challenge. Social media is a powerful approach to understanding and analyzing both donors'/non-donors' attitudes and awareness toward blood donation and the existing community.<br>Blood banks and agencies continue to search for new ways to recruit and retain blood donors. New York Blood Center (NYBC), Red Cross, and AVIS are three blood donation organizations researched in the project.  The NYBC is more concentrated on blood donation than the Red Cross, and AVIS is a local organization in Milan. The history of each organization is available in Appendix E. The group aims to analyze if social media positively impacts recruiting young people to give blood. We also hope to learn about the blood donation community to help blood donation centers recruit young people and increase blood storage. Blood donation centers and city governments should be interested in recruiting young people to donate through social media. People in both cities will benefit from the research because they are the most direct stakeholders in blood donation. Data analysis will allow for the development of identifying different donation and engagement trends.
        
        hr.divider

        include footer

