extends ../layout

block content
    main.container#question-container
        div.question-title
            h3 DATA-LIFE 2021
            h1 Why do young people have poor knolwedge about blood donation?