extends ../layout

block content
    main.container#question-container
        div.question-title
            h4 DATA-LIFE 2021
            h1 What is the behavior of blood donation organizations on social media and how does this differ by platform and location?
            h3 Blood donation organization activity on Twitter and Instagram
        
        div.navchart#q2-c1
            include ../../public/charts/question2/chart1.svg

        p.intro-text#q2-intro Focusing on the main blood donation centers in Italy, AVIS and FIDAS, and New York City, NYBC, we found that different locations and platforms post more frequently and generate more engagement, measured by likes. Though AVIS posts more on a monthly basis on Instagram, NYBC generates more engagement. However, even though NYBC posts more frequently on a monthly basis on Twitter, they also generate the most engagement on this platform compared to other blood donation organizations.

        div.main-text-title
            h3 Main findings 
        
        div.main-text 
            p Social media provides an opportunity to reach a different audience than traditional forms of communication. So, the behavior of blood donation organizations' on these platforms might be an indicator of recruitment. We found that AVIS’ Instagram following was the largest and significantly larger than its Twitter following, see chart below. Contrarily, NYBC has a similar number of followers on Twitter and Instagram. Despite its large following on the platform, AVIS does not post or is mentioned on Instagram as frequently every month as NYBC.

            div.chart-svg
                include ../../public/charts/question2/chart2.svg

            p Similar to our social media analysis, survey results found that Italian respondents who considered donating blood recently are three times more likely to follow the blood donation organizations in their area on social media compared to American respondents. However, less than 20% of all respondents are currently following the blood donation organization in their area on social media.

        hr.divider

        div.appendix#appendixA1
            div.appendix-title
                p Appendix A1
                p.bold Engagement
                p
                    img(src='../../images/icons/up-arrow.svg' class='arrow-up')
                    img(src='../../images/icons/down-arrow.svg' class='hidden arrow-down')

            div.appendix-body
                p Even though its Twitter following is two percent of its Instagram following, AVIS posts and is mentioned far more frequently on this platform. So, the number of followers on each platform does not seem to dictate how often these organizations post or are mentioned.

                div.chart-svg
                    include ../../public/charts/question2/chart3.svg

                p Engagement appears to be related to the number of followers for each platform. Though AVIS posts less frequently than NYBC on Instagram, each post generates more likes. Twitter posts show a different pattern; AVIS posts more frequently and generates more likes per post.

        hr.divider

    include ../footer