extends ../layout

block content
    main.container#question-container
        div.question-title
            h4 DATA-LIFE 2021
            h1 What is the behavior of blood donation organizations on social media and how does this differ by platform and location?
            h3 Followers for different blood banks on Twitter and Instagram
        
        div.navchart#q2-c1
            include ../../public/charts/question2/chart1.svg

        p.intro-text#q2-intro Since social media provides an opportunity to reach a different audience than traditional forms of communication, the influence of blood donation organizations' on these platforms may be an indicator of donor recruitment.  The goal is to understand the behavior of blood donation organizations on social media by comparing platforms (Instagram and Twitter) and locations (NYC and Milan). Focusing on the main blood donation centers in Italy, AVIS, and New York City, NYBC, we investigated various metrics such as the number of followers, number of monthly posts/mentions and likes per post. Findings from our survey can also provide insight as to how young people interact with these organizations on social media to discover potential engagement strategies. 

        div.main-text-title
            h3 Main findings 
        
        div.main-text 
            p From social media analysis, we found that the Instagram following for AVIS was significantly larger than their Twitter following as well as the Instagram and Twitter following of NYBC. Contrarily, NYBC has a similar number of followers on both platforms with Twitter slightly exceeding Instagram. Despite its large following on the platform, AVIS does not post or is mentioned on Instagram as frequently on a monthly basis as NYBC.

            div.chart-svg
                include ../../public/charts/question2/chart2.svg

        hr.divider

    include ../footer