extends ../layout

block content
    main.container#question-container
        div.question-title
                h4 DATA-LIFE 2021
                h1 Do emergencies increase the posts on contents related to blood donation on social media?
                h3 Covid-19 & blood donation

        div.navchart#q1-c1
            include ../../public/charts/question1/chart1.svg

        p.intro-text Being in or around a state of emergency is a factor that influences a person’s choice to give blood, and to be able to analyze this factor and other related factors can help define a strategy for recruiting new donors and encouraging existing donors to keep donating. This research question seeks to understand whether an emergency is a factor that influences a person’s choice to give blood. First, we analyzed the term “Blood Shortage,” a methodology used to trigger people to donate; this creates a state of emergency where engagement is measured to determine the effectiveness of the term. Then a comparison analysis between the number of COVID cases to the number of Tweets and Instagram posts related to Blood donation, and lastly, #BoycottNYBC Twitter Bomb analysis, another external event that appeared through our Twitter data analysis and it was concluded that it was a Twitter Bomb that appeared for a short period.

        hr.divider

        div.appendix
            div.appendix-title
                p Appendix A1
                p.bold Blood Shortage

            div.appendix-body
                p Instagram shows more engagement measured by the number of likes/comments compared to Twitter for all posts related to Blood donation. It was also concluded that when the term “Blood Shortage” is present, engagement increases. Instagram’s average comments are 1.25 compared to 3.94 when the term “Blood shortage” is used; the average likes is 38 compared to 125 in the presence of the term “Blood Shortage”. The same trend is present for the Twitter data.

                div.chart-svg
                    include ../../public/charts/question1/chart2.svg

        hr.divider

        div.appendix
            div.appendix-title
                p Appendix A2
                p.bold #BoycottNYBC

            div.appendix-body
                p Another external event that appeared through our Twitter data analysis is the #BoycottNYBC. First, all data related to #BoycottNYBC was collected, then analysing most the profiles one by one we’ve been able to distinguish between fake and real profiles. Through the analysis of the Twitter bomb, we can determine that a few fake profiles created the Twitter bomb. About 79% of the accounts were fake accounts, for sure. Since the Twitter Bomb has been developed mainly in April and August 2016, the Google Trends data suggests that the Twitter Bomb did not generate any particular interest. On the contrary, it seems that the news publication caused some noise, both on Twitter and Google searches. Comparing the engagement metrics between the New York Blood Center and the tweets related to #BoycottNYBC, it was found that the #BoycottNYBC tweets generate less engagement than the NYBC tweets.
            
                div.chart-svg
                    include ../../public/charts/question1/chart3.svg
                
                div.images
                    img(src='../../images/question1/post1.png')
                    img(src='../../images/question1/post2.png')

                p Through and accurate research on tweet bombs and animalist groups we have been able to identify the origin of the #BoycottNYBC tweet bomb to a website that organizes this kind of tweet bombs, and we also find the specific tweet bomb against NYBC.

        hr.footer-divider

        include ../footer