extends ../layout

block content
    main.container#question-container
        div.question-title
            h3 DATA-LIFE 2021
            h1 Do emergencies affect the decision  of young blood donors?
    
        div#covid-cases-donation-chart

        p.intro-text Being in or around a state of emergency is a factor that influences a person’s choice to give blood, and to be able to analyze this factor and other related factors can help define a strategy for recruiting new donors and encouraging existing donors to keep donating. This research question seeks to understand whether an emergency is a factor that influences a person’s choice to give blood. First, we analyzed the term “Blood Shortage,” a methodology used to trigger people to donate; this creates a state of emergency where engagement is measured to determine the effectiveness of the term. Then a comparison analysis between the number of COVID cases to the number of Tweets and Instagram posts related to Blood donation, and lastly, #BoycottNYBC Twitter Bomb analysis, another external event that appeared through our Twitter data analysis and it was concluded that it was a Twitter Bomb that appeared for a short period.

        div.main-text-title
            h3 Blood shortage 
        
        div.main-text
            p Instagram shows more engagement measured by the number of likes/comments compared to Twitter for all posts related to Blood donation. It was also concluded that when the term “Blood Shortage” is present, engagement increases. Instagram’s average comments are 1.25 compared to 3.94 when the term “Blood shortage” is used; the average likes is 38 compared to 125 in the presence of the term “Blood Shortage”. The same trend is present for the Twitter data.

