extends ../layout

block content
    main.container#question-container
        div.question-title
                h4 DATA-LIFE 2021
                h1 Do emergencies increase the posting of blood donation-related content on social media?
                h3 Covid-19 & blood donation

        div.navchart#q1-c1
            include ../../public/charts/question1/chart1.svg

        p.intro-text Spikes of COVID-19 cases coincide with a large number of blood donation-related posts on both platforms. Being in or around a state of emergency is a factor that influences a person’s choice to give blood so knowing if posts increase during times of emergency could help determine optimal times for posting blood donation related content to recruit and encourage new and existing donors to donate.

        hr.divider

        div.appendix#appendixA1
            div.appendix-title
                p Appendix A1
                p.bold Blood Shortage
                p
                    img(src='../../images/icons/up-arrow.svg' class='arrow-up')
                    img(src='../../images/icons/down-arrow.svg' class='hidden arrow-down')

            div.appendix-body
                p Overall, Instagram posts show more engagement compared to Twitter for all blood donation-related posts. When the term “Blood Shortage” is present, engagement increases, the chart below details replies/comments overtime for these posts on Instagram and Twitter. Instagram’s average comments are 1.25 compared to 3.94 when the term “Blood shortage” is used; the average likes is 38 compared to 125 in the presence of the term “Blood Shortage”.

                div.chart-svg
                    include ../../public/charts/question1/chart2.svg

        hr.divider

        div.appendix#appendixA2
            div.appendix-title
                p Appendix A2
                p.bold #BoycottNYBC
                p.arrow
                    img(src='../../images/icons/up-arrow.svg' class='arrow-up')
                    img(src='../../images/icons/down-arrow.svg' class='hidden arrow-down')

            div.appendix-body
                p Another external event that appeared through our Twitter data analysis was the popularity of #BoycottNYBC, the most used hashtag related to blood donation in New York. To investigate this phenomenon, Twitter data related to #BoycottNYBC was collected. Then, we analyzed the profiles that participated in this event to distinguish whether they were fake or real. About 79% of the accounts were fake accounts and only a few created the Twitter bomb.<br><br>Since the Twitter Bomb developed primarily in April and August of 2016, Google Trends data suggested that it did not generate any particular interest. However, it seems that the news publication that incited the origin of #BoycottNYBC did cause noise on Twitter and Google searches. The chart below shows this timeline and the posting frequency of #BoycottNYBC and all other NYBC related tweets. However, despite the popularity of #Boycott NYBC, a comparison of engagement metrics found that #BoycottNYBC tweets generate less engagement than the NYBC tweets.
            
                div.chart-svg
                    include ../../public/charts/question1/chart3.svg
                
                div.images
                    img(src='../../images/question1/post1.png')
                    img(src='../../images/question1/post2.png')

                p Through accurate research on tweet bombs and animalist groups,  we identified the origin of the #BoycottNYBC tweet bomb to a website that organizes these kinds of tweet bombs and found the specific tweet bomb against NYBC.

        hr.divider

        include ../footer