extends ../layout

block content
    main.container#question-container
        div.question-title
            h4 DATA-LIFE 2021
            h1 How does the blood community share interest for other social-ethical topics?
            h3 Blood donors and other health and social-ethical interests 
        
            p.intro-text There are differences between blood donors and non-blood donors in converting their opinions into positive blood donation behaviors. Altruism and empathy are the main factors underlying blood donation. However, blood donation behavior is complicated, and we want to analyze the differences in social representations of blood donation between donors and non-donors. Our goal is to identify the relationship between the blood donating community and its relation to other communities. Furthermore, we want to research if young people active in blood donation-related social media platforms are involved in other social-ethical groups online. Finally, we will evaluate if it is necessary to combine the blood community with other social-ethical topics online to attract potential blood donors.

        div.main-text-title
            h3 Main findings 
        
        div.main-text 
            p Starting from a qualitative analysis on social media studiyng Archetipical users, we found out that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics.

        div.main-text.no-top-margin.grid-image
            div.col-3-grid
                h5 USA
                img(src="/images/question4/ig-usa1.png")
                img(src="/images/question4/ig-usa2.png")
                img(src="/images/question4/ig-usa3.png")
                img(src="/images/question4/ig-usa4.png")

            div.col-6-grid
                h5 ITA
                img(src="/images/question4/ig-ita1.png")
                img(src="/images/question4/ig-ita2.png")
                img(src="/images/question4/ig-ita3.png")
                img(src="/images/question4/ig-ita4.png")

        div.main-text
            p.note Note that, the <b>representative user</b> is defined as the user with the engagement score closest to the average of the users' scores in his group
        
        div.main-text.grid-image
            div.col-3-grid 
                p.characteristic Support LGBTQ+ Rights 
                p.characteristic Women Rights & feminism
                p.characteristic Sports
            
            div.col-6-grid
                p.characteristic Social & Ethical Issues <br>
                    span.sub-characteristic (LGBTQ, Welfare, anti-racism) 
                p.characteristic Animals
                p.characteristic Anti-racism
                p.characteristic Politics

        div.main-text
            p Analysis of the most active, engaging, and archetypal accounts in the blood donation conversations on social media indicated that the following social-ethical issues are the most prominent amongst these groups: 
                ul
                    li Health interest 
                    li Workers’ rights 
                    li LGTQ+ rights 
                    li Fight against racism 
                    li Feminism 
                    li Animal rights 
                    li Environmentalism & climate change 
                    li Income inequality
            p Therefore, we included questions in our survey asking respondents how important these social-ethical issues are to them to see if there were a correlation between social-ethcial causes and blood donation.