extends ../layout

block content
    main.container#question-container
        div.question-title
                h4 DATA-LIFE 2021
                h1 Do emergencies increase the posting of blood donation-related content on social media?
                h3 Covid-19 & blood donation

        div.navchart#q1-c1
            include ../../public/charts/question1/chart1.svg

        p.intro-text Spikes of COVID-19 cases coincide with a large number of blood donation-related posts on both platforms. Being in or around a state of emergency is a factor that influences a person’s choice to give blood so knowing if posts increase during times of emergency could help determine optimal times for posting blood donation related content to recruit and encourage new and existing donors to donate.

        hr.divider

        div.appendix#appendixA1
            div.appendix-title
                p Appendix A1
                p.bold Blood Shortage
                p
                    img(src='../../images/icons/up-arrow.svg' class='arrow-up')
                    img(src='../../images/icons/down-arrow.svg' class='hidden arrow-down')

            div.appendix-body
                p Overall, Instagram posts show more engagement, measured by the number of likes/comments, compared to Twitter for all blood donation-related posts. When the term “Blood Shortage” is present, engagement increases. Instagram’s average comments are 1.25 compared to 3.94 when the term “Blood shortage” is used; the average likes is 38 compared to 125 in the presence of the term “Blood Shortage”. 

                div.chart-svg
                    include ../../public/charts/question1/chart2.svg

        hr.divider

        div.appendix#appendixA2
            div.appendix-title
                p Appendix A2
                p.bold #BoycottNYBC
                p.arrow
                    img(src='../../images/icons/up-arrow.svg' class='arrow-up')
                    img(src='../../images/icons/down-arrow.svg' class='hidden arrow-down')

            div.appendix-body
                p Another external event that appeared through our Twitter data analysis is the #BoycottNYBC. First, all data related to #BoycottNYBC was collected, then analysing most the profiles one by one we’ve been able to distinguish between fake and real profiles. Through the analysis of the Twitter bomb, we can determine that a few fake profiles created the Twitter bomb. About 79% of the accounts were fake accounts, for sure. Since the Twitter Bomb has been developed mainly in April and August 2016, the Google Trends data suggests that the Twitter Bomb did not generate any particular interest. On the contrary, it seems that the news publication caused some noise, both on Twitter and Google searches. Comparing the engagement metrics between the New York Blood Center and the tweets related to #BoycottNYBC, it was found that the #BoycottNYBC tweets generate less engagement than the NYBC tweets.
            
                div.chart-svg
                    include ../../public/charts/question1/chart3.svg
                
                div.images
                    img(src='../../images/question1/post1.png')
                    img(src='../../images/question1/post2.png')

                p Through and accurate research on tweet bombs and animalist groups we have been able to identify the origin of the #BoycottNYBC tweet bomb to a website that organizes this kind of tweet bombs, and we also find the specific tweet bomb against NYBC.

        hr.divider

        include ../footer