extends ../layout

block content
    main.container#question-container
        div.question-title
            h4 DATA-LIFE 2021
            h1 How does the blood community share interest for other social-ethical topics?
            h3 Blood donors and other health and social-ethical interests 
        
            p.intro-text There are differences between blood donors and non-blood donors in converting their opinions into positive blood donation behaviors. Altruism and empathy are the main factors underlying blood donation. However, blood donation behavior is complicated, so we analyzed the differences in social representations of blood donation between donors and non-donors. Our goal is to identify the relationship between the blood donating community and its relation to other communities and health habits. Furthermore, we want to research if young people active in blood donation-related social media platforms are involved in other social-ethical groups online. Finally, we will evaluate if it is necessary to combine the blood community with other social-ethical topics online to attract potential blood donors.

        div.main-text-title
            h3 Main findings 
        
        div.main-text 
            p Starting from a qualitative analysis on social media studying Archetypal users, we found that donors care more about social issues. Therefore, posts related to social-ethical topics are helpful content to target potential donors and could also increase the relations between altruistic topics.

        div.main-text.no-top-margin.grid-image
            div.col-3-grid
                h5 USA
                img(src="/images/question4/ig-usa1.png")
                img(src="/images/question4/ig-usa2.png")
                img(src="/images/question4/ig-usa3.png")
                img(src="/images/question4/ig-usa4.png")

            div.col-6-grid
                h5 ITA
                img(src="/images/question4/ig-ita1.png")
                img(src="/images/question4/ig-ita2.png")
                img(src="/images/question4/ig-ita3.png")
                img(src="/images/question4/ig-ita4.png")

        div.main-text
            p.note Note that, the <b>representative user</b> is defined as the user with the engagement score closest to the average of the users' scores in his group
        
        div.main-text.grid-image
            div.col-3-grid 
                p.characteristic.pink Support LGBTQ+ Rights 
                p.characteristic.blue Women Rights & feminism
                p.characteristic.pink Sports
            
            div.col-6-grid
                p.characteristic.blue Social & Ethical Issues <br>
                    span.sub-characteristic (LGBTQ, Welfare, anti-racism) 
                p.characteristic.pink Animals
                p.characteristic.blue Anti-racism
                p.characteristic.pink Politics

        div.main-text
            p Analysis of the most active, engaging, and archetypal accounts in the blood donation conversations on social media indicated that the following social-ethical issues are the most prominent amongst these groups: 
                ul
                    li Health interest 
                    li Workers’ rights 
                    li LGTQ+ rights 
                    li Fight against racism 
                    li Feminism 
                    li Animal rights 
                    li Environmentalism & climate change 
                    li Income inequality
            p Therefore, we included questions in our survey asking respondents how important these social-ethical issues are to them to see if there were a correlation between social-ethcial causes and blood donation.

        hr.divider

        div.appendix#appendixA1
            div.appendix-title
                p Appendix A1
                p.bold Correlation Map
                p
                    img(src='../../images/icons/up-arrow.svg' class='arrow-up')
                    img(src='../../images/icons/down-arrow.svg' class='hidden arrow-down')


            div.appendix-body
                p Survey results show similar results for Italy and the US. In both, there is a strong positive correlation between social-ethical issues such as Women's Rights(feminism), LGBT+ Rights, Fight against racism, Environmentalism and climate change, and Animal Rights. However, the relationship is not as strong for social-ethical issues and health habits such as smoking conditions, being a vegan/vegetarian, and exercising frequently. There is a slight positive correlation between donors and social-ethical topics. 

                div.chart-svg
                    include ../../public/charts/question4/chart1.svg

                p 
                    i A positive correlation (value > 0) means that there is a correlated interest between the topics. In other words, a positive correlation between a topic A and a topic B means that people interested in topic A is also interested in topic B.<br>Red cells, instead, show negative correlation between topics, and cells coloured in light color show that there is a light or no correlation.<br><br>For example: from the chart below it can be noticed that people interested in fight against racism are also interested in women's rights.
                    
        hr.divider

    include ../footer